.text-container-1 .text-container-2{
    display: inline-block;
}

.typewriter-1{
    border-right: 5px solid;
    white-space: nowrap;
    overflow: hidden;
    animation:
        typing 2s steps(25, end),
        cursor .4s step-end infinite alternate;
}

.typewriter-2{
    border-right: 3px solid;
    white-space: nowrap;
    overflow: hidden;
    width: 0;
    max-width: 70%;
    animation:
        typing 2s steps(30, end) 1.9s forwards,
        cursor .4s step-end infinite alternate 1.9s;
}

@keyframes cursor {
    50% { border-color: transparent }
}

@keyframes typing {
    from { width: 0; }
    to { width: 100%; }
}
