<div class="flex flex-col items-center text-[#191514]">
    <div class="w-[80px] -mb-10 z-10 border-4 rounded-full">
      <img class="rounded-full" alt="" src="https://media.licdn.com/dms/image/D560BAQEBWSYIuGyeqQ/company-logo_200_200/0/1707740972311/magna_id_logo?e=1721865600&v=beta&t=y8XHkVKcnqzVyqCx2dU9zS92xeU2oV7r6xLRau-MpSY"/>
    </div>
    <div class="flex flex-col rounded-md px-[25px] py-5 pt-[55px] items-center bg-[#d4ccca] pb-10 w-[250px] text-center">
      <div class="text-[20px] font-semibold">
        Co-Founder and Director
      </div>
      <div class="text-[18px]">
          CV Magna Innitiatives
      </div>
      <div class="text-[14px]">
        Jan 2024 - Present
      </div>
    </div>
</div>